@model Casino.Models.Player

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-image: url('/images/blackBG.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    

  /*   margin: 0;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center; 
    align-items: center;  */
     
    }

    .form-box {
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        width: 600px;

    }

</style>

<div style="display:flex;justify-content:center;padding-top:50px">

<div class="form-box">
    <form class="form" asp-action="Login" method="post" enctype="multipart/form-data">
        <span class="title">Sign in</span>
        <span class="subtitle">Create a free account with your email.</span>
        <div class="form-container">
            <input asp-for="NickName" type="text" class="input" placeholder="Name">
            <input asp-for="Password" type="password" class="input" placeholder="Password">
        </div>
        <input type="submit" value="Login" class="btn btn-primary" />
    </form>
    <div class="form-section">
        <a asp-action="Register">Register here</a>
    </div>
</div>

</div>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}



